{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Find best fluke matches</h3>
    <!-- <p>
      <small>A web app demo</small>
    </p> -->
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="button" onclick="submitImage();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>
  <div class="image-container">
    <div class="image-box">
      <img id="image-display" />
      <div id="pred-result" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
    <div class="image-box">
      <img id="image-display-2" />
      <div id="pred-result-2" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32"></svg>
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
    <div class="image-box">
      <img id="image-display-3" />
      <div id="pred-result-3" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div><div class="image-box">
      <img id="image-display-4" />
      <div id="pred-result-4" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div><div class="image-box">
      <img id="image-display-5" />
      <div id="pred-result-5" class="hidden"></div>
        <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </div>
</div>

{% endblock %}
